/*Experience Section*/

#exp {
    background-color: var(--low);
}

#exp .exp {
    display: flex;
    flex-direction: column;
    text-align: center;
    max-width: 900px;
    margin: 0 auto;
    padding: 100px 0;
}

#exp .items .item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    margin-top: 30px;
    margin-bottom: 10px;
    padding: 15px 0;
}

#exp .exp-bottom {
    display: flex;
    align-items: stretch;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 50px;
    transition: 0.5s ease;
}

#exp .exp-bottom a {
    flex-basis: 45%;
    transition: 0.5s ease;
}

#exp .exp-bottom a:hover .exp-item::after {
    background-image: none;
    transition: 0.5s ease;
}

#exp .exp-item {
    flex-basis: 45%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    padding: 0;
    border: 2px solid var(--high);
    border-radius: 10px;
    margin: 10px 5%;
    position: relative;
    z-index: 1;
    overflow: hidden;
    transition: 0.5s ease;
    height: 25%;
}

#exp .exp-bottom .exp-item img {
    z-index: -1;
}

#exp .exp-bottom a:hover .exp-item img {
    transform: scale(1.1);
    transition: 0.5s ease;
}

#exp .exp-item h3 {
    color: var(--high);
}

#exp .exp-item::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
    opacity: .5;
    z-index: -1;
    transition: 0.5s ease;
}

#exp .exp-bottom h3 {
    font-size: 2rem;
    color: var(--font);
    text-shadow: none;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-top: 20px;
    text-transform: uppercase;
    text-align: left;
}

#exp .exp-bottom p {
    color: var(--font);
    text-align: left;
    font-weight: 400;
    margin-left: 10px;
    margin-bottom: 40px;
}

#exp .exp .items .itemlist .item {
    justify-content: center;
    flex-wrap: nowrap;
}

#exp .items .item .logo {
    width: 63px;
    margin-top: 8px;
}

#exp .items .item .info {
    flex-basis: 50%;
    height: 8rem;
    text-align: left;
    padding-left: 50px;
}

#exp .items .item h3 {
    color: var(--font);
}

#exp .items .item .desc {
    flex-basis: 45%;
    min-height: 8rem;
    color: var(--font);
}

#exp .items .item .desc p {
    text-align: left;
    font-weight: 400;
}

@media only screen and (max-width:400px) {
    #exp .exp .item .info {
        padding-left: 20px;
        height: 6.5rem;
    }
    #exp .exp .item {
        margin-top: 15px;
    }
}

@media only screen and (max-width:500px) {
    #exp .exp-bottom .exp-item {
        flex-basis: 80%;
        margin: 1.5%;
        min-height: 200px;
    }

    #exp .exp .item {
        padding-top: 0;
        padding-bottom: 0;
    }
    .title p {
        font-size: 1.5rem;
    }
    .section-title {
        font-size: 3.5rem;
    }
    h2 {
        font-size: 2rem;
    }
    h3 {
        font-size: 1.6rem;
    }
    h5,
    p,
    h4 {
        font-size: 1.2rem;
    }

}

@media only screen and (min-width:500px) and (max-width:700px) {
    #exp .exp-bottom .exp-item {
        flex-basis: 80%;
        margin: 1.5%;
        min-height: 300px;
    }

}

@media only screen and (max-width:700px) {

    #exp .exp-bottom a {
        flex-basis: 90%;
        height: initial;
    }
    #exp .exp .exp-bottom p {
        margin-bottom: 10px;
    }

}

@media only screen and (min-width:700px) {

    #exp .exp-bottom .exp-item {
        flex-basis: 45%;
        margin: 1.5%;
        min-height: 250px;
    }
}