.footer {
    background-color: var(--low);
}

.footer p {
    margin: 0 auto;
    padding-bottom: 20px;
    font-weight: 400;
    font-size: 1.5rem;
    width: max-content;
    letter-spacing: 0.05rem;
    transition: 0.3s ease;
}

.footer a {
    width: max-content;
    transition: 0.3s ease;
}

.footer a:hover p {
    color: gray;
}


@media only screen and (max-width:500px) {

    .title p {
        font-size: 1.5rem;
    }
    .section-title {
        font-size: 3.5rem;
    }
    h2 {
        font-size: 2rem;
    }
    h3 {
        font-size: 1.6rem;
    }
    h5,
    p,
    h4 {
        font-size: 1.2rem;
    }

    .footer p {
        font-size: 1.2rem;
    }

}