/*Skill Section*/

#skill {
    background-color: white;
    position: relative;
    z-index: 1;
}

#skill .skill {
    flex-direction: column;
    text-align: center;
    margin: 0 auto;
    padding: 100px 0;
}

#skill .skill .items .itemlist {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#skill .skill .skillset {
    padding: 5px 30px;
    margin: 5px 0;
    height: 45px;
    flex-basis: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    transition: .5s ease;
}

#skill .skill .skillset:hover {
    background-color: lightgray;
    transition: .5s ease;
}

#skill .skill .skillset:hover .skillful {
    letter-spacing: 0.6rem;
    transition: .5s ease;
}

#skill .skill .skillset img {
    height: initial;
    font-size: 0;
}

#skill .skill .items .itemlist .logo {
    flex-basis: 8%;
    font-size: 0;
}

#skill .skill .items .itemlist .skillname {
    flex-basis: 50%;
    text-align: left;
    padding-left: 20px;
    padding-bottom: 3px;
    font-size: 1.8rem;
    color: var(--font);
}

#skill .skill .items .itemlist .skillful {
    flex-basis: 40%;
    text-align: right;
    font-size: 1.8rem;
    color: var(--high);
    padding-bottom: 3px;
}


@media only screen and (max-width:500px) {

    #skill .skill .skillset:hover .skillful {
        letter-spacing: 0.35rem;
    }
    #skill .skill .items .itemlist .skillname,
    .skillful {
        font-size: 1.5rem;
    }

    .title p {
        font-size: 1.5rem;
    }
    .section-title {
        font-size: 3.5rem;
    }
    h2 {
        font-size: 2rem;
    }
    h3 {
        font-size: 1.6rem;
    }
    h5,
    p,
    h4 {
        font-size: 1.2rem;
    }
}


@media only screen and (max-width:700px) {

    #skill .skill .skillset {
        flex-basis: 90%;
    }
    #skill .skill .itemlist {
        justify-content: center;
    }
}
